## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Tuatapere,NZ,52.83,overcast clouds,-46.1333,167.6833,Ron and Tony's Bed & Breakfast
1,1,Touros,BR,77.90,overcast clouds,-5.1989,-35.4608,INN NEW HORIZON
2,4,Ushuaia,AR,47.86,scattered clouds,-54.8000,-68.3000,Albatross Hotel
3,7,Mount Gambier,AU,69.17,clear sky,-37.8333,140.7667,The Commodore
4,10,Lagoa,PT,60.01,overcast clouds,39.0500,-27.9833,Casa Das Faias

In [4]:
# 2. Using the template add the hotel name, the city name, the country code, and the current weather description.
info_box_template = """
<dl>
<dt>Hotel</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description and Max Temp</dt><dd>{Current Description} and Max temp of {Max Temp}°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [45]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1)
marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [46]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["Hotel Name"] == "INNSiDE Zaragoza"]
vacation_end = vacation_df.loc[vacation_df["Hotel Name"] == "INNSiDE Zaragoza"]
vacation_stop1 = vacation_df.loc[vacation_df["Hotel Name"] == "Pazo de Verdes"]
vacation_stop2 = vacation_df.loc[vacation_df["Hotel Name"] == "Pazo do Souto"]
vacation_stop3 = vacation_df.loc[vacation_df["Hotel Name"] == "Hotel-Restaurante El Sueño de Jemik"]

vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
344,641,Zaragoza,ES,50.11,broken clouds,41.6561,-0.8773,INNSiDE Zaragoza

In [47]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0,5:7].to_numpy()
end = vacation_end.iloc[0,5:7].to_numpy()
stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3.iloc[0,5:7].to_numpy()

In [48]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
custom_tour = gmaps.directions_layer(
    start, end, waypoints=[stop1, stop2, stop3],
    travel_mode = "DRIVING")

In [49]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,641,Zaragoza,ES,50.11,broken clouds,41.6561,-0.8773,INNSiDE Zaragoza
1,182,Bereda,ES,49.41,broken clouds,43.2686,-7.5406,Pazo de Verdes
2,447,Carballo,ES,48.90,overcast clouds,43.2130,-8.6910,Pazo do Souto
3,679,La Roda,ES,50.90,overcast clouds,39.2167,-2.1500,Hotel-Restaurante El Sueño de Jemik

In [59]:
# 9 Using the template add hotel name, the city, the country and current weather description with maximum temperature.
custom_info_box_template = """
<dl>
<dt>Hotel</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description and Max Temp</dt><dd>{Current Description} and {Max Temp}°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
itinerary_info = [custom_info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
custom_locations = itinerary_df[["Lat", "Lng"]]

In [60]:
# 11a. Add a marker layer for each city to the map
custom_tour_fig= gmaps.figure(center=(30.0, 31.0), zoom_level=1)

custom_marker_layer = gmaps.marker_layer(custom_locations, info_box_content=itinerary_info)

custom_tour_fig.add_layer(custom_marker_layer)

# 11b. Display the figure
custom_tour_fig

Figure(layout=FigureLayout(height='420px'))

In [61]:
#Travel Layer
custom_tour_fig.add_layer(custom_tour)
custom_tour_fig

Figure(layout=FigureLayout(height='420px'))